.removeProject__block {
  width: 100%;

  .title {
    text-align: center;
  }

  .regularText__description {
    margin-top: 10px;
  }
}

.removeProjectForm {
  margin-top: 20px;
}

.inputBlock,
.btn__submit {
  margin-top: 15px;
}

.regularText__success {
  text-align: center;
  margin-top: 15px;
}
